<div>
    <%= image_tag @product.photo, width: 200 if @product.photo.attached?%>
</div>

<h1 class='title'><%= @product.title %></h1>

<%= link_to 'Editar producto', edit_product_path(@product.id) %>

<p class='description'>Detalle: <%= @product.description %></p>

<span class='price'>Precio: $<%= @product.price %></span>

<div>
    <%= link_to 'Borrar producto', product_path(@product.id), data: {
        turbo_method: :delete,
        turbo_confirm: '¿Estás seguro de eliminar el producto?'
    } %>
</div>